<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<form action="@{/web/performance/add}" th:action th:object="${performance}" method="post" enctype="multipart/form-data">
    <div>
        <label for="title">제목</label>
        <input type="text" th:field="*{title}" class="form-control" placeholder="공연 제목을 입력하세요">
    </div>
    <div>
        <label for="description">설명</label>
        <input type="text" th:field="*{description}" class="form-control" placeholder="공연 설명을 입력하세요">
    </div>
    <div>
        <label for="startDate">공연시작일</label>
        <input type="date" th:field="*{startDate}" required>
    </div>
    <div>
        <label for="endDate">공연종료일</label>
        <input type="date" th:field="*{endDate}" required>
    </div>
    <div>
        <label for="runningTime">상영시간</label>
        <input type="number" name="runningTime" th:field="*{runningTime}" class="form-control" placeholder="상영시간을 입력하세요(분단위, ex: 90)">
    </div>
    <div>
        <label for="interMission">휴식시간</label>
        <input type="number" name="interMission" th:field="*{interMission}" class="form-control" placeholder="휴식시간을 입력하세요">
    </div>
    <div>
        <label for="limitTime">제한시간</label>
        <input type="number" name="limitTime" th:field="*{limitTime}" class="form-control" placeholder="입장 제한시간을 입력하세요">
    </div>
    <div>
        <label for="link">예매링크</label>
        <input type="text" th:field="*{link}" class="form-control" placeholder="예매링크를 입력하세요">
    </div>
    <div>
        <label for="link">공연타입</label>
        <select th:field="*{performanceType}" class="form-select" required>
            <option value="">==공연==</option>
            <option th:each="type : ${type}"
                    th:value="${type.name()}"
                    th:text="${type.getValue()}">뮤지컬
            </option>
        </select>
    </div>
    <div>
        <label for="place">장소</label>
        <input type="text"  th:field="*{place}" class="form-control" placeholder="공연장소를 입력하세요">
    </div>
    <div>
        <label for="ticketOpenDate">티켓팅 오픈일</label>
        <input type="datetime-local" th:field="*{ticketOpenDate}" required>
    </div>
    <div>
        <label for="ticketEndDate">티켓팅 종료일</label>
        <input type="datetime-local" th:field="*{ticketEndDate}" required>
    </div>
    <div>
        <label for="purchaseLimit">매수 제한</label>
        <input type="number" name="purchaseLimit" th:field="*{purchaseLimit}" class="form-control" placeholder="매수 제한을 입력하세요">
    </div>
    <input type="file" value="이미지" th:field="*{images}" multiple style="width:100%; height:100px;">
    <input type="submit" value="등록"/>
</form>

</html>