<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>
<div>
    <article class="container">
        <form th:action="@{/web/performance}" th:object="${searchDto}" method="POST">
            <div style="display: inline">
                <div>
                    <label>공연타입</label>
                    <select th:field="*{performanceType}" class="form-select">
                        <option value="">==공연==</option>
                        <option th:each="type : ${type}"
                                th:value="${type.name()}"
                                th:text="${type.getValue()}">뮤지컬
                        </option>
                    </select>
                </div>
                <div>
                    <label>분류</label>
                    <select th:field="*{showCategory}" class="form-select">
                        <option value="">==상태==</option>
                        <option th:each="type : ${category}"
                                th:value="${type.name()}"
                                th:text="${type.getValue()}">
                        </option>
                    </select>
                </div>
                <div>
                    <label>검색어</label>
                    <input type="text" th:field="*{keyword}">
                </div>
                <div>
                    <input type="submit" value="검색" class="btn" style="background: #FF6491; color: #FFF2F6;"/>
                </div>
            </div>
        </form>
    </article>
</div>

<div class="container">
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>제목</th>
                <th>공연타입</th>
                <th>분류</th>
                <th>장소</th>
                <th style="width: 40%">설명</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="performance : ${performances}">
                <td th:text="${performance.getTitle()}"></td>
                <td th:text="${performance.getPerformanceType()}"></td>
                <td th:text="${performance.getShowCategory()}"></td>
                <td th:text="${performance.getPlace()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>

</html>