<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console -->
    <springProfile name="local">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{10} - %msg%n</pattern>
            </encoder>
        </appender>
        <appender name="LOGSTASH-LOCAL" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>local:4560</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="aws">
        <!-- Logstash aws-->
        <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>3.39.238.131:4560</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            </encoder>
        </appender>
    </springProfile>


    <root>
        <springProfile name="local">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOGSTASH-LOCAL" />
        </springProfile>
        <springProfile name="aws">
            <appender-ref ref="LOGSTASH" />
        </springProfile>
    </root>
</configuration>