<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console -->
    <springProfile name="local,test">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{10} - %msg%n</pattern>
            </encoder>
        </appender>
        <appender name="LOGSTASH-LOCAL" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>docker-elk-logstash-1:4560</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="aws">
        <!-- Logstash aws-->
        <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>docker-elk-logstash-1:4560</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            </encoder>
        </appender>
        <appender name="CONSOLE-AWS" class="ch.qos.logback.core.ConsoleAppender">
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>DEBUG</level>
                <onMatch>ACCEPT</onMatch> <!-- 해당 레벨만 기록한다. -->
                <onMismatch>DENY</onMismatch> <!-- 다른 수준의 레벨은 기록하지 않는다.(상위 레벨도 기록 안함), 상위 수준의 레벨에 대한 기록을 원하면 ACCEPT 로 하면 기록된다. -->
            </filter> <!-- 레벨별 필터링이 필요없을 경우 filter class 관련된 부분을 삭제하면 됨-->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{10} - %msg%n</pattern>
        </encoder>
        </appender>
    </springProfile>

    <root>
        <springProfile name="local,test">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOGSTASH-LOCAL" />
        </springProfile>
        <springProfile name="aws">
            <appender-ref ref="LOGSTASH" />
            <appender-ref ref="CONSOLE-AWS" />
        </springProfile>
    </root>
</configuration>