<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.w3.org/1999/xhtml">
<title>수정하기</title>
<body>
<div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="/js/imagePreview.js"></script>
    <form id="modifyForm" th:object="${template}" method="POST">
        <div style="display: inline">
            <div>
                <label for="code">분류명</label>
                <input id="code" name="code" type="text"  class="form-control" th:value="${template.code}" disabled>
            </div>
            <div>
                <label for="title">제목</label>
                <input id="title" name="title" type="text"  class="form-control" th:value="${template.subject}" disabled>
            </div>
            <div>
                <label for="description">템플릿</label>
                <input id="description" name="description" type="text"  class="form-control" th:value="${template.description}">
            </div>
            <div>
                <input type="submit" value="수정" class="btn" style="background: #FF6491; color: #FFF2F6;"/>
            </div>
        </div>
    </form>
</div>
</body>

</html>