<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../static/css/bootstrap.min.css"
          rel="stylesheet">
    <link th:href="@{/css/integrated-css.css}"
          href="../static/css/integrated-css.css"
          rel="stylesheet">
    <title>메일 발송</title>
    <style>
        div.paging {
            display: flex;
            align-items: center; /* 수직 정렬 */
            flex-direction: row; /* default: row */
            justify-content: center; /* flex direction에 대해서 정렬방식 선택 */
        }
    </style>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<div>
    <article class="container">
        <form th:action="@{/web/mail}" th:object="${searchDto}" method="POST">
            <div style="display: inline">
                <div>
                    <label>검색어</label>
                    <input type="text" th:field="*{keyword}">
                    <input type="submit" value="검색" class="btn" style="background: #FF6491; color: #FFF2F6;"/>
                </div>
                <div>
                    <label for="gteDate">가입일</label>
                    <input id="gteDate" name="gteDate" type="date" th:field="*{gteDate}">
                    <input id="ltDate" name="ltDate" type="date" th:field="*{ltDate}">
                </div>
                <div>메일수신
                    <div th:each="term : ${T(com.arton.backend.administer.mail.domain.MailTermsAgree).values()}" class="form-check form-check-inline">
                        <input type="radio" th:field="*{termsAgree}" th:value="${term.getValue()}"
                               class="form-check-input">
                        <label th:text="${term.name()}" class="form-check-label">
                            회원전체
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </article>
</div>

<div class="container">
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>이름</th>
                <th>이메일</th>
                <th>메일수신</th>
                <th>가입일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getNickname()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td th:text="${user.getTermsAgree()}"></td>
                <td th:text="${user.getCreatedDate()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="paging" th:if="${!users.isEmpty()}">
    <!-- 전역 변수 선언 -->
    <nav
            th:with="
                pageNumber = ${users.pageable.pageNumber},
                pageSize = ${users.pageable.pageSize},
                totalPages = ${users.totalPages},
                startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
                tempEndPage = ${startPage + pageSize - 1},
                endPage = (${tempEndPage < totalPages ? tempEndPage : totalPages})"
            aria-label="Page navigation"
    >
        <ul class="pagination ">
            <!-- 처음으로 이동 -->
            <li class="page-item">
                <a class="page-link" th:href="@{/web/mail/(page=0)}">
                    <span>&laquo;</span>
                    <span class="sr-only">First</span>
                </a>
            </li>

            <!-- 이전으로 이동 -->
            <li th:classappend="${users.first} ? 'disabled'" class="page-item">
                <a class="page-link" th:href="${users.first} ? '#' : @{/web/mail/(page=${pageNumber - 1})}" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>

            <!-- 특정 페이지로 이동 -->
            <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber + 1} ? 'active'" class="page-item">
                <a th:text="${page}" class="page-link" th:href="@{/web/mail/(page=${page - 1})}"></a>
            </li>

            <!-- 다음으로 이동 -->
            <li th:classappend="${users.last} ? 'disabled'" class="page-item">
                <a class="page-link" th:href="${users.last} ? '#' : @{/web/mail/(page=${pageNumber + 1})}" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>

            <!-- 마지막으로 이동 -->
            <li class="page-item">
                <a class="page-link" th:href="@{/web/mail/(page=${totalPages - 1})}">
                    <span>&raquo;</span>
                    <span class="sr-only">Last</span>
                </a>
            </li>
        </ul>
    </nav>
</div> <!-- /container -->

<div class="mail-form">
    <article class="container">
        <form th:action="@{/web/mail/send}" th:object="${mailDto}" method="POST">
            <div style="display: inline">
                <div>
                    <label>제목</label>
                    <input type="text" th:field="*{subject}">
                </div>
                <div>
                    <label for="messageBody">내용</label>
                    <input id="messageBody" name="messageBody" type="textarea" th:field="*{messageBody}">
                </div>
            </div>
            <input type="submit" value="메일발송" class="btn" style="background: #FF6491; color: #FFF2F6;"/>
        </form>
    </article>
</div>

</body>
</html>